.main-bg {
    font-size: 2rem;
    background-image: url('../img/pp-background.png');
    background-size: cover;
    background-position: center center;
    color: var(--white-color)
}

.white-bg {
    background-color: var(--white-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap)
}

.section {
    min-height: 100vh;
}
.menu-spacing {
    height: 64px;
}