.main-bg {
    font-size: 2rem;
    background-image: url('../img/pp-background.png');
    background-size: cover;
    background-position: center center;
    color: var(--white-color)
}

.white-bg {
    background-color: var(--white-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}
.menu-spacing {
    height: 64px;
}
.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}
body .full-width {
    width: 100%;
    flex: 1 1 100%;
}
.footer {
    text-align: center;
    color: var(--primary-color)
}
.close-menu {
    display: none;
}
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    font-size: 4rem;
    border: 0.1rem solid grey;
    color: var(--primary-color)
}